* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    
    width: 100vw;
    height: 100vh;
    background-image: url(img/backgroundnew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: #000000BB; */
    /* background-blend-mode: darken; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
}

h1 {
    
    color: white;
    font-size: clamp(40px, 10vw, 120px);
    font-family: 'Glory', sans-serif;
    font-weight: 100;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FF3B3F, 0 0 82px #FF3B3F, 0 0 92px #FF3B3F, 0 0 102px #FF3B3F, 0 0 151px #FF3B3F;

}

p.apresentacao{
    
    color: #5ef0fe;
    font-family: 'Glory', sans-serif;
    /* font-style: italic; */
    font-size: clamp(20px, 5vw, 60px);
    font-weight: 100;

}

a:link{
    text-decoration: none;
}

button {
    
    width: 160px;
    height: 40px;
    border: 0px;
    border-radius: 30px;
    color: black;
    background-color: white;
    cursor: pointer;
    cursor: hand;
    font-family:'Ubuntu Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}


button.instagramIcon{
    
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%); 
    color: white;
    
}

button.linkdinIcon{
    
    background-color: #0a66c2;
    color: white;

}

button.githubIcon{

    background-color: #6B7A8F;
    color: white;
}

.iconesRedes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}

button.instagramIcon:hover {

    background:white;
    color: black;
    transition: all 0.15s linear;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0.3em gold;
    border: 2px solid gold;

}

button.linkdinIcon:hover {
    
    background-color: white;
    color: black;
    transition: all 0.15s linear;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0.3em #0a66c2;
    border: 2px solid #0a66c2;

}

button.githubIcon:hover {
    
    background-color: white;
    transition: all 0.15s linear;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0.3em #6B7A8F;
    color: black;
    border: 2px solid #6B7A8F;

}

div#linhahorizontal {
 
    width: 30vw;
    border: 1px solid #ffffffbb;

}

footer{
 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Glory', sans-serif;
    font-size: clamp(5px, 5vw, 15px);

}