* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000BB;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

}

h1 {
    color: white;
    font-size: 100px;
    
}

p {
    color: white;
}

button {
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 100%;
    color: black;
    background-color: rgb(202, 200, 187);
}

button:hover {
    background-color: white;
    color:black;
}
