* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: #000000BB; */
    /* background-blend-mode: darken; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

}

h1 {
    color: white;
    font-size: clamp(40px, 10vw, 120px);
    font-family: 'Glory', sans-serif;
    font-weight: 100;
}

p.apresentacao{
    color: rgb(255,0,220);
    font-family: 'Glory', sans-serif;
    font-style: italic;
    font-size: clamp(20px, 5vw, 60px);
    font-weight: 100;
}

button {
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 100%;
    color: black;
    background-color: white;
    text-align: center;
}

button:hover {
    background-color:rgb(255,0,220);
    color:black;
}

.iconesRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

button.instagramicon:hover {
    background: rgb(255,0,220);
    background: linear-gradient(90deg, rgba(255,0,220,1) 0%, rgba(167,0,132,1) 35%, rgba(243,249,0,1) 100%);
}

button.linkdinicon:hover {
    background-color: #8be9fd;
}

div#linhahorizontal {
    width: 25vw;
    border: 1px solid #ffffffbb;
}

